@font-face
{
	font-family: 		'Roboto Regular';
	src: 				url('../res/roboto-regular.ttf');
}
body
{	
	background:			#dcdfe4;
	padding:			20px;
	font-family: 		'Roboto Regular';
}
h2
{
	color:				#336666;
	text-align:			center;
}
img
{
	margin: 			20px 4% 0;
}
.photo_box
{
	text-align:			center;
	margin: 			2% 0 4%;
}